<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="&amp;OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://bot.ezwebsite.xyz" />
                </rule>
                <rule name="ReverseProxyInboundRule1" enabled="false" stopProcessing="true">
                    <match url="http(s)?://ezwebsite.xyz(\/.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http{R:1}://192.168.3.18:80/{R:2}" logRewrittenUrl="true" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="ReverseProxyOutboundRule1" preCondition="" enabled="false">
                    <match filterByTags="None" pattern="^http(s)?://192.168.3.18:80/(.*)" />
                    <action type="Rewrite" value="http{R:1}://ezwebsite.xyz/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
